<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Registro de Usuario</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- Número de Documento -->
        <div class="mb-3">
          <label for="documentNumber" class="form-label">Número de Documento</label>
          <input type="number" id="documentNumber" formControlName="documentNumber" class="form-control" required
            [class.is-invalid]="registerForm.get('documentNumber')?.invalid && registerForm.get('documentNumber')?.touched"
            [class.is-valid]="registerForm.get('documentNumber')?.valid && registerForm.get('documentNumber')?.touched" />
          <div *ngIf="registerForm.get('documentNumber')?.invalid && registerForm.get('documentNumber')?.touched"
            class="invalid-feedback">
            El número de documento es requerido y debe ser un número.
          </div>
        </div>

        <!-- Nombre Completo -->
        <div class="mb-3">
          <label for="name" class="form-label">Nombre Completo</label>
          <input type="text" id="name" formControlName="name" class="form-control" required
            [class.is-invalid]="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
            [class.is-valid]="registerForm.get('name')?.valid && registerForm.get('name')?.touched" />
          <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="invalid-feedback">
            El nombre es requerido.
          </div>
        </div>

<div class="mb-3">
  <label for="ciudad" class="form-label">Ciudad</label>
  <select class="form-select" id="ciudad" formControlName="residenceCity" required>
    <option disabled selected value=""></option>
    <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
  </select>
</div>


        <!-- Teléfono -->
        <div class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="tel" id="phone" formControlName="phone" class="form-control" required pattern="^[0-9]{7,10}$"
            [class.is-invalid]="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
            [class.is-valid]="registerForm.get('phone')?.valid && registerForm.get('phone')?.touched" />
          <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
            class="invalid-feedback">
            El teléfono debe contener entre 7 y 10 dígitos numéricos.
          </div>
        </div>

        <!-- Dirección -->
        <div class="mb-3">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" id="address" formControlName="address" class="form-control" required
            [class.is-invalid]="registerForm.get('address')?.invalid && registerForm.get('address')?.touched"
            [class.is-valid]="registerForm.get('address')?.valid && registerForm.get('address')?.touched" />
          <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched"
            class="invalid-feedback">
            La dirección es requerida.
          </div>
        </div>

        <!-- Correo Electrónico -->
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" id="email" formControlName="email" class="form-control" required
            [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
            [class.is-valid]="registerForm.get('email')?.valid && registerForm.get('email')?.touched" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
            class="invalid-feedback">
            El correo electrónico debe ser válido.
          </div>
        </div>

        <!-- Contraseña -->
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" formControlName="password" class="form-control" required minlength="8"
            [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
            [class.is-valid]="registerForm.get('password')?.valid && registerForm.get('password')?.touched" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
            class="invalid-feedback">
            La contraseña debe tener al menos 8 caracteres, números, mayúsculas, minúsculas y caracter especial.
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Registrarse</button>
      </form>
    </div>
  </div>
</div>