<div class="container mt-5 back">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Iniciar sesión</h2>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            required
            [(ngModel)]="email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
<div class="input-group">
  <input
    [type]="verPassword ? 'text' : 'password'"
    id="password"
    name="password"
    class="form-control"
    required
    [(ngModel)]="password"
  />
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="verPassword = !verPassword"
    tabindex="-1"
  >
    <i [class]="verPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
  </button>
</div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
      </form>

      <div class="text-center mt-3">
        <p>
          ¿No tienes una cuenta?
          <a routerLink="/registro">Regístrate aquí</a>
        </p>
      </div>
    </div>
  </div>
</div>
